.loading-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.spinner {
    width: 24px;
    height: 24px;
    border: 3px solid #9880ff;
    border-radius: 50%;
    border-top-color: transparent;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}